<div class="container__big-card">

    <div class="big-card__img">
        <img
        height="250px" 
        src="https://miro.medium.com/v2/resize:fit:720/1*O34-PdingzH573ZL2H9gBQ.png"
        alt="">
    </div>

    <div class="big-card__title">
        <h1><a href="">Saiu uma nova Versão do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="">
                Um novo recurso desejada pela comunidade que finalmente foi atendida e que faram uma enorme diferença.
            </a>
        </p>
    </div>

</div>