<nav class="container__menur-bar">
    <section class="menur-bar_photo">
        <a href="http://localhost:4200/">
            <img 
            src="https://arquivo.devmedia.com.br/noticias/documentacao/documentacao_angular-cli-como-criar-artefatos-do-angular_38250.png"
            alt="">
        </a>
    </section>
    <nav class="menu-bar__links">
        <ul>
            <li><a href="http://localhost:4200/">Home</a></li>
            <li><a href="http://localhost:4200/content">BLOG</a></li>
            <li><a href="">CONTATO</a></li>
        </ul>
    </nav>
</nav>
